<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div style="margin-bottom:-10px;"><h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1></div>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="evan orticio" />
        {% endif %}
        <p>
        <p>I'm a third-year PhD student in cognitive science at <a href="https://psychology.berkeley.edu/">UC Berkeley</a>, where I work with <a href="http://kiddlab.com">Celeste Kidd</a>.</p>
        <p>
        <p>I've also worked with <a href="https://www.tsinghuakidlab.com/en/">Stella Christie</a> and Dan Grodner at Swarthmore College.</p>
        <p>
        <p>&rarr;&nbsp;&nbsp; <a href="https://orticio.com/assets/Orticio_CV_dec22.pdf">CV</a><br>
           &rarr;&nbsp;&nbsp; <a href="https://scholar.google.com/citations?user=vYsj5zMAAAAJ&hl=en">google scholar</a><br>
           &rarr;&nbsp;&nbsp; <a href="mailto:orticio@berkeley.edu">orticio@berkeley.edu</a></p>
        <p>
        <p style="color:LightGray;"><small>theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </header>
      <section>
        <p><p>
      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
