<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <div style="margin-top:-20px;"><h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1></div>
        
        <p>
        <p>i'm a second-year phd student in cognitive science at <a href="https://psychology.berkeley.edu/">uc berkeley</a>, where i work with <a href="http://kiddlab.com">celeste kidd</a>.</p>
        <p>
        <p>previously, i worked with <a href="https://www.tsinghuakidlab.com/en/">stella christie</a> and dan grodner at swarthmore college.</p>
        <p>
        <p><a href="http://kiddlab.com">google scholar</a><small> x </small><a href="mailto:orticio@berkeley.edu">email me</a></p>
      </header>
      <section>
      <p>
      <p>
      {{ content }}

      </section>
       <footer>
        <p style="color:LightGray;"><small>theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
